/**
 * ⚑ Dimensions
 */
// Header
$header-height: 8rem;
$header-padding: 0;
// /Header

// Banner
$banner-height: 22rem;
$banner-padding: 0 1rem;
// /Banner

// Item
$item-padding: 1rem;
$item-width: 32rem; // See https://baymard.com/blog/line-length-readability
// /Item

// Menu
$menu__item-padding: 1rem 0.5rem;
$menu__item-count: 4;
// /Menu





/**
 * ⚑ Z-indexes
 */
$header-zindex: 15;
$banner-zindex: 5;
$item-zindex: 10;
$footer-zindex: 10;





/**
 * ⚑ Colors
 * Courtesy www.colourlovers.com
 */
$pastel-color-vanilla-cream: rgba(252, 251, 227, 1);
$pastel-color-yellow-shift: rgba(255, 255, 153, 1);
$pastel-color-exotic-orange: rgba(255, 164, 70, 1);
$pastel-color-fresh-mold: rgba(178, 203, 163, 1);
$pastel-color-pegasus-ice-cream: rgba(239, 170, 161, 1);
$pastel-color-blueberry-dragon: rgba(106, 102, 126, 1);
$pastel-color-blueberry-dragon-alt: rgba(157, 152, 184, 1);

// http://www.colourlovers.com/palette/429993/Office_Supplies
$pastel-color-post-it-pink: rgba(252, 199, 207, 1);
$pastel-color-post-it-purple: rgba(210, 185, 214, 1);
$pastel-color-post-it-blue: rgba(200, 227, 248, 1);
$pastel-color-post-it-vanilla: rgba(247, 245, 194, 1);
$pastel-color-post-it-orange: rgba(255, 203, 151, 1);

$banner-color-home: $pastel-color-post-it-orange;
$banner-color-about: $pastel-color-post-it-pink;
$banner-color-contact: $pastel-color-post-it-blue;
$banner-color-page: $pastel-color-post-it-purple;
$banner-color-post: $pastel-color-post-it-vanilla;

$item-background-color: white;
$footer-background-color: white;





/**
 * ⚑ Library configuration
 */
$fa-font-path: "/lib/font-awesome/fonts";
$fa-margin-right: 0.25rem;
