/**
 * ⚑ Dimensions
 */
// Header
$header-height: 9rem;
$header-padding: 0;
// /Header

// Logo
$logo-size--sm: 3rem;
$logo-size--md: 5rem;
// /Logo

// Banner
$banner-height: 22rem;
$banner-padding: 0 1rem;
// /Banner

// Item
$item-padding: 1rem;
$item-width: 32rem; // See https://baymard.com/blog/line-length-readability
// /Item

// Nav
$nav--header-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) inset;
// /Nav

// Menu
$menu-width: 32rem;
$menu__item-border-radius: 1px;
$menu__item-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) inset, 0 0 5px 0 rgba(0, 0, 0, 0.2);
$menu__item-background-color: rgba(0, 0, 0, 0.2);
$menu__item-padding: 1rem 0.5rem;
$menu__item--mobile-padding: 0.5rem;
$menu__item-margin: 0.25rem;
$menu__item-count: 4;
// /Menu





/**
 * ⚑ Z-indexes
 */
$header-zindex: 15;
$banner-zindex: 5;
$item-zindex: 10;
$footer-zindex: 10;





/**
 * ⚑ Colors
 * Courtesy www.colourlovers.com
 */
$pastel-color-vanilla-cream: rgba(252, 251, 227, 1);
$pastel-color-yellow-shift: rgba(255, 255, 153, 1);
$pastel-color-exotic-orange: rgba(255, 164, 70, 1);
$pastel-color-fresh-mold: rgba(178, 203, 163, 1);
$pastel-color-pegasus-ice-cream: rgba(239, 170, 161, 1);
$pastel-color-blueberry-dragon: rgba(106, 102, 126, 1);
$pastel-color-blueberry-dragon-alt: rgba(157, 152, 184, 1);

// http://www.colourlovers.com/palette/429993/Office_Supplies
$pastel-color-post-it-pink: rgba(252, 199, 207, 1);
$pastel-color-post-it-purple: rgba(210, 185, 214, 1);
$pastel-color-post-it-blue: rgba(200, 227, 248, 1);
$pastel-color-post-it-vanilla: rgba(247, 245, 194, 1);
$pastel-color-post-it-orange: rgba(255, 203, 151, 1);

// http://www.colourlovers.com/palette/87946/Very
$pastel-color-very-winter-blone: rgba(187, 187, 136, 1);
$pastel-color-very-very-khaki: rgba(204, 198, 141, 1);
$pastel-color-very-dusk: rgba(238, 221, 153, 1);
$pastel-color-very-soft: rgba(238, 194, 144, 1);
$pastel-color-very-4chan: rgba(238, 170, 136, 1);

$banner-color-home: $pastel-color-very-dusk;
$banner-color-about: $pastel-color-very-very-khaki;
$banner-color-contact: $pastel-color-very-winter-blone;
$banner-color-page: $pastel-color-very-soft;
$banner-color-post: $pastel-color-very-4chan;

$body-color: rgba(64, 64, 64, 1);
$item-background-color: white;
$header-background-color: white;
$header-border-bottom: 5px solid rgba(64, 64, 64, 1);
$footer-background-color: white;





/**
 * ⚑ Fonts
 */
$font-family-fira-sans: "Fira Sans", sans-serif;

$sans-font-family: $font-family-fira-sans;

$base-font-family: $sans-font-family;
$base-line-height: 1.25;




/**
 * ⚑ Media query breakpoints
 */
/* Small devices (tablets, 768px and up) */
$screen-sm-min: 48em;

/* Medium devices (desktops, 992px and up) */
$screen-md-min: 62em;

/* Large devices (large desktops, 1200px and up) */
$screen-lg-min: 75em;





/**
 * ⚑ Library configuration
 */
$fa-font-path: "/lib/font-awesome/fonts";
$fa-margin-right: 0.25rem;
