<footer class="footer">

  <ul class="menu  menu--left">
    <li class="menu__item  menu__item--pages"><a href="/pages.html"><i class="fa fa-pagelines"></i>Pages</a></li>
    <li class="menu__item  menu__item--posts"><a href="/posts.html"><i class="fa fa-file"></i>Posts</a></li>
    <li class="menu__item  menu__item--about"><a href="/about.html"><i class="fa fa-user"></i>About</a></li>
    <li class="menu__item  menu__item--contact"><a href="/contact.html"><i class="fa fa-envelope"></i>Contact</a></li>
  </ul>

  <small>&copy; 2014, {{ site.author }}</small>

</footer> <!-- /.footer -->
