<header class="header">

  <ul class="menu  menu--left">
    <li class="menu__item  menu__item--pages"><a href="pages.html">Pages</a></li>
    <li class="menu__item  menu__item--posts"><a href="posts.html">Posts</a></li>
  </ul>

  <a href="/" class="logo">{{ site.name }}</a>

  <ul class="menu  menu--right">
    <li class="menu__item  menu__item--about"><a href="about.html">About</a></li>
    <li class="menu__item  menu__item--contact"><a href="contact.html">Contact</a></li>
  </ul>

</header> <!-- /.header -->
