.banner {
  padding: $banner-padding;
  position: fixed;
  height: $banner-height;
  width: 100%;
  top: $header-height;
  z-index: $banner-zindex;
}

.banner__action {
  list-style: none;
}

.banner--home {
  background-color: $banner-color-home;
}

.banner--about {
  background-color: $banner-color-about;
}

.banner--contact {
  background-color: $banner-color-contact;
}

.banner--page {
  background-color: $banner-color-page;
}

.banner--post {
  background-color: $banner-color-post;
}
