.header {
  background-color: $header-background-color;
  border-bottom: $header-border-bottom;
  padding: $header-padding;
  position: fixed;
  height: $header-height--sm;
  width: 100%;
  z-index: $header-zindex;
  @include transition-property(top);
  @include transition-duration(.3s);
  @include transition-timing-function(ease-in-out);
}

.header--shown {
  top: 0;
}

.header--hidden {
  top: -5.5rem;
}

.header .logo__image {
  position: relative;
  width: $logo-size--sm;
  height: $logo-size--sm;
}

@media (min-width: $screen-md-min) {
  .header {
    height: $header-height--md;
    top: 0;
  }

  .header .logo__image {
    top: -(0.75 * $header-height--md);
    width: $logo-size--md;
    height: $logo-size--md;
  }
}
