.menu {
  list-style: none;
}

.menu__item--home {
  background-color: $banner-color-home;
}

.menu__item--about {
  background-color: $banner-color-about;
}

.menu__item--contact {
  background-color: $banner-color-contact;
}

.menu__item--pages {
  background-color: $banner-color-page;
}

.menu__item--posts {
  background-color: $banner-color-post;
}

.menu__item a {
  color: inherit;
  display: block;
  padding: $menu__item-padding;
  text-decoration: none;
}

.header .menu__item {
  display: inline-block;
  width: 100% / $menu__item-count;
}

.header .menu__item .fa {
  display: block;
}

.footer .menu__item {
  width: 100%;
}
